@use 'src/styles/mixins' as bp;

.product-list {
  @include bp.respond-from('md') {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include bp.respond-until('md') {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.product-list__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
